@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

//extend de titulos en las secciones
%titulos-section {
    color: $primary-color;
    background-color: $secondary-color;
    @include borde-solido(2px, $secondary-dark);
    padding: 10px;
    text-align: center;
}

//extend para links sin estilo
%link-normal {
    text-decoration: none;
    color: $text-color;
}

//extend para buscadores
%buscador {
    background-color: $background-light;
    border: 1px solid $border-color;
    width: 100%;
    padding: 5px 10px;
    transition: box-shadow $transition-duration;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 10px $primary-color;
    }
}

//extend para botones filtros
%boton-filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
        list-style: none;
        @extend %btn;
        
        &:hover {
            background-color: $text-color;
            transition: background-color $transition-duration ease;
        }
    }
}

%btn {
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #6b737a;
    color: white;
}