// Variables de colores
$primary-color: #77531d;
$primary-light: #fdedcf;
$primary-medium: #f5d49a;
$primary-dark: #42321b;

$secondary-color: #fce2b2;
$secondary-dark: #c49530;

$background-light: #ffeed1;
$background-footer: #d1c0a3;
$background-filtros: rgb(202, 202, 202);
$background-filtros-dark: rgb(141, 141, 141);

$text-color: #313131;
$text-secondary: #504d4a;
$text-footer: #42321b;

$price-color: #278d1a;
$price-shadow: #d1ffc4;

$border-color: #999792;
$border-dark: #8a8372;

$stars-color: gold;


$facebook-color: #3b5998;
$instagram-color: #c32aa3;

$icon-size: 40px;
$max-width-filtros: 250px;
$map-height: 600px;
$map-height-mobile: 400px;
$image-tienda-width: 250px;
$image-tienda-height: 200px;

$transition-duration: 0.2s;
$transition-duration-long: 0.4s;
