@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/extends' as *;

// Estilos de filtros
.filtros {
    display: none;
    border-right: solid 1px $border-color;
    background: linear-gradient(180deg, rgba(239, 231, 216, 0.95), rgba(216, 204, 184, 0.9));
    @include centrar-flex(column);
    padding: 16px 12px;
    width: $max-width-filtros;
    border-radius: $radius-md;
    box-shadow: $shadow-soft;

    // Lista de categorías de productos
    .categorias-lista {
        list-style: none;
        width: 100%;

        li {
            @include hover-color(#eeeeee, $transition-duration);
        }
    }

    //Filtro de precios
    .filtro-precios {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    //Talles
    .talles-adultos,
    .talles-kids {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        list-style: none;
        cursor: default;

        li {
            @include hover-color(#ffffff, $transition-duration);
        }
    }
}

// Filtros con collapse
.filtros-collapse {
    background: linear-gradient(180deg, rgba(216, 204, 184, 0.95), rgba(200, 186, 164, 0.95));
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    box-shadow: $shadow-soft;

    .categorias-lista, .talles-adultos, .talles-kids {
        @extend %boton-filtro;
    }

    div input {
        background-color: antiquewhite;
    }
    .talles-adultos,
    .talles-kids {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}

.precios-collapse{
    display: flex;
    align-items: center;
    gap: 10px;
    .precios-filtros{
        @extend %buscador;
    }
}

.filtros-dropdown{
    button{
        align-items: center;
        border: none;
        @extend %btn;
        gap: 6px;
    }
}