@use '../utilities/variables' as *;
@use '../utilities/extends' as *;
@use '../utilities/mixins' as *;

// Estilos del navegador y header
header {
    nav {
        background: linear-gradient(to bottom, $primary-light, $primary-medium);

        div {
            a {
                @extend %link-normal;
            }

            // Separadores entre items del nav
            ul span {
                margin: 0 10px;
                color: $primary-color;
                font-weight: bold;
            }
        }
    }
}

// Buscadores
#buscadorLG{
    @extend %buscador;
    border-radius: 5px;
}
#buscadorSM {
    @extend %buscador;
}

// Items de navegación
.nav-item {
    font-weight: bold;
}
.btn-productos:hover{
    @include hover-bag(0.3s, -10px);
}
