@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// Estilos generales de productos
.precio {
    color: $price-color;
}

.pantalla-productos {
    display: flex;
}


// Sección de productos
.producto {
    @include hover-scale(1.05, $transition-duration-long);
}

.productos {
    padding: 1.5rem;
    width: 83.3333%;

    .filtros-dropdown {
        display: flex;

        button{
            display: none;
        }
    }
}
.productos-lista {
    margin-top: 1.5rem;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(5, 1fr);
}