@use '../utilities/variables' as *;

// Escritorio
@media (max-width: 1200px) {

    .sucursales,
    .mapa-sucursales {
        width: 100%;
    }

    .contenedor {
        flex-direction: column;
    }
    .productos-lista {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 992px) {
    .filtros {
        display: none;
    }

    .productos {
        width: 100%;

        .filtros-dropdown {
            button {
                display: flex;
            }
        }
    }
    .productos-lista {
        grid-template-columns: repeat(4, 1fr);
    }

}

// Tablet 
@media (max-width: 768px) {

    // Ocultar separadores del nav
    header nav div ul span {
        display: none;
    }

    // Ocultar buscador grande
    #buscadorLG {
        display: none;
    }

    // Footer centrado
    .footer-start {
        text-align: center;

        p {
            margin-top: 30px;
        }
    }
    .productos-lista {
        grid-template-columns: repeat(3, 1fr);
    }

}



// Mobile 
@media (max-width: 576px) {
    .mapa {
        height: $map-height-mobile;
    }

    .caja {
        flex-direction: column;
    }

    .titulo-tienda {
        position: static;
    }
    .productos-lista {
        grid-template-columns: repeat(2, 1fr);
    }
}

